/** Apply an image to our toolbarbutton.  Use multiple states in a
    single image and then reposition the viewport in order to avoid
    flickering on state change **/
#newtab-toolbarbutton
{
  list-style-image: url(chrome://newtab/skin/toolbar.png);
  -moz-image-region: rect(0px 23px 20px 0px);
}
#newtab-toolbarbutton:hover
{
  -moz-image-region: rect(20px 23px 40px 0px);
}
#newtab-toolbarbutton[disabled="true"]
{
  -moz-image-region: rect(60px 23px 80px 0px);
}
#newtab-toolbarbutton[open="true"]
{
  -moz-image-region: rect(40px 23px 60px 0px);
}
