<?xml version="1.0"?>

<?xml-stylesheet href="chrome://global/skin" type="text/css"?>
<?xml-stylesheet href="chrome://songbird/content/bindings/bindings.css" type="text/css"?>
<?xml-stylesheet href="chrome://songbird/skin/songbird.css" type="text/css" title="Skin"?>

<!DOCTYPE page SYSTEM "chrome://[:= $_.package :]/locale/overlay.dtd">

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul" title="[:= $_.name :]">

  <vbox flex="1">
    <description value="&[:= $_.package :].servicepane.label;" />
    <label class="text-link" value="&[:= $_.package :].servicepane.link;" href="http://wiki.songbirdnest.com/Developer/Reference_Docs/Components/ServicePane" />
  </vbox>

</window>