<?xml version="1.0" encoding="UTF-8"?>
<overlay id="[:= $_.package :]-overlay" xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">

  <script src="main.js"/>

  <stringbundleset id="stringbundleset"> 
     <stringbundle id="[:= $_.package :]-strings" src="chrome://[:= $_.package :]/locale/overlay.properties"/>
  </stringbundleset>  

</overlay>
